repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 7.3.1
    hooks:
      - id: buildifier
        args: [--warnings=all]
      - id: buildifier-lint
        args: [--warnings=all]
